<table>
    <thead>
        <tr>
            <th>
                List Title
            </th>
            <th>
                Number of Movies
            </th>
            <th>
                Average Rating
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let list of MovieLists'>
            <td>
                {{list.Name}}
            </td>
            <td>
                {{list.MovieCount}}
            </td>
            <td>
                Average Rating
            </td>
        </tr *ngFor='let list of MovieLists'>
    </tbody>
</table>