<div *ngIf='movie'>
    <h1>{{movie.title}}</h1>
    <table>
        <tbody>
            <tr>
                <th>Year</th>
                <td>{{movie.year}}</td>
            </tr>
            <tr>
                <th>Genres</th>
                <td>{{movie.genres}}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{movie.director}}</td>
            </tr>
            <tr>
                <th>Runtime</th>
                <td>{{movie.runtime}}</td>
            </tr>
            <tr>
                <th>Rated</th>
                <td>{{movie.rated}}</td>
            </tr>
            <tr>
                <th>My Rating</th>
                <td><input type="number" min="0" max="5" [(ngModel)]='movie.rating'>
                    <button (click)='saveRating()'>Save!</button>
                    <span>{{saveMessage}}</span></td>
            </tr>
        </tbody>
    </table>
</div>